<configuration>
    <property>
        <name>mapred.job.tracker</name>
        <value>HOSTNAME:9001</value>
        <description>The host and port that the MapReduce job tracker runs at. If “local”, then jobs are run in-process as a single map and reduce task.</description>
    </property>
</configuration>
